<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/login" method="post">
		<p><label>email</label><input type="text" name="email" ></p>
		<p><label>password</label><input type="password" name="password"></p>
	    <button type="submit" name="do_signup">GO</button>
	    <p>
	    <a href="/">to the main page</a>
	    </p>
	</form>
</body>
</html>