<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/product" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" />
    <p><label>name</label><input type="text" name="name" ></p>
    <p><label>choose category</label><select name="selectcat">
    <option value="books">books</option>
    <option value="shoes">shoes</option>
    <option value="computers">computers</option>
    
   </select></p>
	<p><label>description</label><input type="text" name="description"></p>
	<p><label>price</label><input type="text" name="price" ></p>
    <button type="submit" name="Upload File">GO</button>
</form>	
<a href="/">to the main page</a>
	
</body>
</html>